.margin-left mat-radio-button:not(:first-child) {
    margin-left: 10px;
    margin-bottom: 10px;
}

.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.custom-col span {
    color: red;
    font-size: small;
    margin-top: 0.25rem;
}

.LeavesStatus {
    height: 50px;
}

.combo {
    margin-bottom: 25px;
}